<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
		<link rel='stylesheet' type='text/css' href='css/style.css'>
	</head>
	<body>
		<div ng-app="app" ng-controller="controller">
			<div id="message" ng-bind-html="message" ng-show="messageShow"></div>
			<div id="top" ng-show="topShow">
				<div ng-show="yesNoButtonsShow">
					<input type="button" value="Yes, of course!" ng-click="saidYes()" />
					<input type="button" value="Sorry, but no." ng-click="saidNo()" />
				</div>
				<div ng-show="searchFormShow">
					<input type="text" placeholder="Enter country or zip code" ng-model="location" />
					<input type="button" value="See weather" ng-click="seeWeather()" />
				</div>
			</div>
			<h1 ng-bind-html="weather"></h1>
			<table id="main" ng-show="mainShow">
				<tr>
					<td>Current temperature</td>
					<td ng-bind="currtemp"></td>
				</tr>
				<tr>
					<td >Minimal temperature</td>
					<td ng-bind="mintemp"></td>
				</tr>
				<tr>
					<td>Maximum temperature</td>
					<td ng-bind="maxtemp"></td>
				</tr>
				<tr>
					<td>Pressure</td>
					<td ng-bind="pressure"></td>
				</tr>
				<tr>
					<td>Humidity</td>
					<td ng-bind="humidity"></td>
				</tr>
				<tr>
					<td>Cloudiness</td>
					<td ng-bind="clouds"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<script src="js/weather.js"></script>
	</body>
<html>